<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><strong>{{this.id}}: {{this.username}}</strong></h5>
          <p>
            <strong>Balance</strong>: ${{this.usdBalance}}</p>
          <p>
            <strong>Coins owned:</strong> {{this.coinsOwned}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>