<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p>
            <strong>{{user.id}}: {{user.username}}</strong>: </p>
          <p>
          <p>
            <strong>Balance</strong>: ${{user.usdBalance}}</p>
          <p>
            <strong>Coins owned:</strong> {{user.coinsOwned}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>