<div class="container">
    <div class="row">
        <div class="col-8 offset-2 align-items-center">
            <h3>Cryptocurrencies</h3>
            <ul id="coinlist" class="list-group">
            {{#each coins}}
                {{>coins/coin-block}}
            {{/each}}
            </ul>
            <a href="/">← Back To Home</a>
        </div>
    </div>
</div>