<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Cryptocoins</h5>
          <p>
            <strong>{{coins.name}}</strong></p>
          <p>
          <p>
            <strong>Price</strong>: ${{coins.price}}</p>
          <p>
            <strong>Ranking:</strong> {{coins.coinRank}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
