<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Users</h3>
            <ul id="example-list" class="list-group">
            {{#each user}}
                {{>user/user-block}}
            {{/each}}
            </ul>
        </div>
    </div>
</div>