body {
    background-color: #CCD7E4;
    font-family: 'Darker Grotesque', sans-serif;
  }
.bg-dark {
    background-color: transparent !important;
}
.jumbotron {
    background-color: #828A95;
}
.lead {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: #828A95;
}
@keyframes fadein {
    from { opacity: 0;
            padding-top: 0px;
            color:red;
    }
    to   { opacity: 1; 
        padding-top: 50px;
    color:#828A95}
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0;
        padding-top: 0px;
        color:red;
}
    to { opacity: 1; 
        padding-top: 50px;
        color:#828A95;}
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*
Roman Silver
#828A95
Azureish White
#CEEAF7
Columbia Blue
#CCD7E4
Languid Lavender
#D5C9DF
Pink Lavender
#DCB8CB
*/
section {
    height: 100vh;
    width: 100%;
    display: table;
    
  }
  section.ok{
    background-color: #555;
  }
  
  p{
    color: white;
    font-family: arial;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  .scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
.pageTwo {
  z-index: 4;
  height:100vh;
  background-color: #CEEAF7;
  display:flex;
}
.pageOne {
  z-index: 2;
}
.pageOne{
  height:96vh;
}
.parallax { 
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1514970746-d4a465d514d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  /* Set a specific height */
  height: 200px; 
  /* Create the fax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.leftSide {
  flex-grow: 1;
  background-color: #828A95;
}
.rightSide {
  flex-grow: 1;
  background-color: #CEEAF7;
}
.imgNewLeft {
  min-width: 30%;
}
.imgNewRight {
  min-width: 30%;
}
.chart {
  min-width: 100%;
  margin:auto;
  margin-top: 80px;
}
.pageThree {
  height:91vh;
}
.why {
  margin:100px;
}
.headingWhy {
  font-size: 60px;
  text-align: center;
  color:navy;
  margin-bottom: 20px;
}
.descWhy {
  font-size: 30px;
  text-align: justify;
  color: #D5C9DF;
}
.descWhy:hover {
  color:blue;
  transition:.5s;
}
.headingWhy2 {
  font-size: 50px;
  text-align: center;
  color:navy;
  margin-bottom: 20px;
  -webkit-animation:rainbow 5s infinite;
-ms-animation:rainbow 5s infinite;
-o-animation:rainbow 5s infinite;
animation:rainbow 5s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}