<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><strong>{{this.name}}</strong></h5>
          <p>
            <strong>Price</strong>: ${{this.price}}</p>
          <p>
            <strong>Ranking:</strong> {{this.coinRank}}</p>
            <a href="/coins/{{this.name}}">Coin page</a>
        </div>
      </div>
    </div>
  </div>
</div>
